.App {
  max-width: 1440px;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
}

@media  only screen and (max-width: 800px) {
  .App-body {
    display: block !important;
  }

  .App-body .App-sidebar {
    width: auto !important;
  }
}

@media  only screen and (max-width: 600px) {
  .App-body {
    display: block !important;
  }

  .App-body .App-main {
    display: block;
    width: auto !important;
  }

  .App-body .App-main .item {
    width: auto !important;
  }
  

  .App-body .App-main .line-1,
  .App-body .App-main .line-2,
  .App-body .App-main .line-3 {
    display: block !important;
    width: auto !important;
  }

  .App-body .App-sidebar {
    width: auto !important;
  }
}

.App-header {
  background-color: palegoldenrod;
  height: 80px;
  line-height: 80px;
  text-align: center;
  vertical-align: middle;
  color: white;
  margin: 5px;
}

.App-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.App-body .App-sidebar {
  width: 400px;
  color: white;
  margin: 5px;
}

.App-body .App-sidebar .group-2 div {
  background-color: gainsboro;
  padding: 25px;
  margin: 1px;

}

.App-body .App-main {
  color: white;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
}

.App-body .App-main .line-1,
.App-body .App-main .line-2,
.App-body .App-main .line-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.App-body .App-main .item {
  background-color: slategrey;
  width: 100%;
  height: 80px;
  line-height: 80px;
  text-align: center;
  vertical-align: middle;
  padding: 25px;
  margin: 1px;
}

.App-footer {
  background-color: paleturquoise;
  height: 80px;
  line-height: 80px;
  text-align: center;
  vertical-align: middle;
  clear: both;
  color: white;
  margin: 5px;
}