.hidden { display: none; }


.carrossel .item {
  background-color: tomato;
  padding: 25px;
  height: 150px;
  vertical-align: middle;
  line-height: 150px;
  margin: 1px;
}

.carrossel .item {
   background-color: tomato;
   font-size: 40pt;
}

.progress-container {
  background-color: white;
  height: 3px;
  margin: 1px;
}

.progress {
  background-color: tomato;
  height: 3px;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.controls div {
  padding: 5px;
  margin: 1px;
}

.controls div.prev,
.controls div.next {
  width: 30px;
}

.controls ul.indicator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.controls ul.indicator li {
    background-color: tomato;
    margin: 1px;
    width: 100%;
    font-weight: normal;
    font-size: 8pt;
    vertical-align: middle;
    line-height: 30px;
}

.controls ul.indicator li.done {
  background-color: palegoldenrod;
}